<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @donor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @donor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @donor.phone_number %>
</p>

<p>
  <strong>Index:</strong>
  <%= @donor.index %>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
