<%= form_with(model: donation, local: true) do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :donation_amount %>
  </div>

  <%= form.hidden_field :donor_login_id, value: current_donor_login.id %>

  <div class="field">
    <%= form.label "Select Fund" %>
    <%= form.collection_select(:fund_id, @funds, :id, :category) %>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
