<div class="user_profile">
<!-- <div class="container"> -->
    <div class="row">
      <div class="col-sm-first">

        <%= image_tag current_donor_login.avatar.url(:medium) %>
        <h2><%= @donor.first_name + " " + @donor.last_name %> </h2>
        <p> Email: <%= @donor.email %></p>
        <p> Bio: Skateboarder, coffee addict, audiophile, aspiring graphic designer </p>
        <div class="btn-group">
          <%= link_to 'Start New Donation', new_donation_path, class: "btn btn-primary" %>
        </div>
      </div>

      <div class="col-sm second">
        <h3> Total Donations: $<%=sprintf('%.2f', @donations.map(&:amount).inject(:+)) rescue '0'  %> </h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Donor</th>
              <th>Category</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @donations.each do |donation| %>
            <tr>
              <td>$<%= sprintf('%.2f', donation.amount) %></td>
              <td><%= donation.donor_login.first_name %></td>
              <td><%= donation.fund.category %></td>
              <td><%= link_to 'View Details', donation %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
