<h1>New Donation</h1>


<%= form_with(model: @donation, local: true) do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :donation_amount %>
  </div>

  <%= form.hidden_field :donor_login_id, value: current_donor_login.id %>

  <div class="field">
    <%= form.label "Select Fund" %>
    <%= form.collection_select(:fund_id, @funds, :id, :category) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= form_tag charges_path(donation_id: @donation.id) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span> <%= pretty_amount(@amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @description %>"
            data-amount="500"
            data-email="<%= current_donor_login.email %>"
            data-bitcoin="true"
            data-locale="auto">
            data-bitcoin="true">
            </script>

<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<%= hidden_field_tag 'stripeToken' %>
<%= hidden_field_tag 'stripeEmail' %>

<%= link_to 'Cancel', donations_path %>
