<!-- <p id="notice"><%= notice %></p> -->

<div class="header-img">
  <%= image_tag ("public/downtown-miami.jpg"), width: "100%", height: "700" %>
</div>

<div class="org-container">
  <div class="row">
    <div class="col">
      <center><strong><h1>Mutual Miami Organizations</h1></strong></center>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% @organization_category.each do |category| %>
          <% arr = category[1]%>
          <h3><%= category[0].upcase %> </h3>
          <% arr.each do |organization| %>
          <div class="org-box">
            <h4><%= organization.name %></h4>
            <h5><%= organization.address %></h5>
            <p><%= organization.description %><p>
            <h5><%= organization.website %></h5>
            <div class="z-btn2">
              <%= link_to 'Info', organization %>
            </div>
          </div>
          <% end %>
        <% end %>
  </div>
</div>
