<p id="notice"><%= notice %></p>


<h2>Organizations</h2>
<div class="big-container">
        <% @organizations.each do |organization| %>
    <div class="z-card-container"> <!-- container for all cards -->
        <div class="z-card"> <!-- container for each card -->
            <div class="z-side"> <!-- front side of the card -->
                <h3><%= organization.name %></h3>
                <!-- <h4><%= organization.category %></h4> -->
                <h5><%= organization.address %></h5>
            </div>
            <div class="z-side back"> <!-- back side of the card -->
                <p><%= organization.description %><p>
                <h5><%= organization.website %></h5>
                <%= link_to 'Edit', edit_organization_path(organization) %>
                <%= link_to 'Show', organization %>
                <div class="new-organization"><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </div>
        </div>
    </div>
        <% end %>
</div>
<br>

<%= link_to 'New Organization', new_organization_path %>
