<p id="notice"><%= notice %></p>


<h2>Organizations</h2>

<div class="card-container">
  <div class="card">
    <div class="side">Hello</div>
    <div class="side back">Info</div>
  </div>
</div>

    <% @organizations.each do |organization| %>
        <h3><%= organization.name %></h3>
        <h4><%= organization.category %></h4>
        <h5><%= organization.address %></h5>
        <p><%= organization.description %><p>
        <h5><%= organization.website %></h5>
        <%= link_to 'Show', organization %>
        <%= link_to 'Edit', edit_organization_path(organization) %>
        <div class="new-organization"><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>

<br>

<%= link_to 'New Organization', new_organization_path %>
