<div class="main-holder">
  <div class="main-holder-text">
    <h4>A mutual approach to donations</h4>
    <h3>One coin at a time</h3>
  </div>

  <div class="main-holder-pics">
  <%= image_tag ("public/ashton-bingham-113943.jpg"), width: "350", height: "275" %>
    <!-- <img class="placeholder" src="http://via.placeholder.com/350x300" alt="placeholder"> -->
    <%= image_tag ("public/gus-moretta-371897.jpg"), width: "350", height: "325" %>
   <!--  <img src="http://via.placeholder.com/350x350" alt="placeholder"> -->
   <%= image_tag ("public/nathaniel-tetteh-300252.jpg"), width: "350", height: "275" %>
    <!-- <img class="placeholder" src="http://via.placeholder.com/350x300" alt="placeholder"> -->
  </div>
</div>

<div class="funds-container">
    <div class="funds-text">  
      <h1>Funds</h1>
      <p>While looking at the advantages of using Change for Miami the biggest one is simplicity. We’ve streamlined the process of donating with the objective of making the most change with a few clicks. Those few clicks can make a world of difference, your fund could include animal nonprofits like dog rescue or the cat network that help efforts for animals to be placed in loving homes or treat them medically. <br><br>

      Deciding where to donate can be difficult to do and not all non-profits are created equally. Here at Change for Miami we encourage individual donors to contribute locally, while maximizing their donation amount regardless of its’ size.
      </p>

      <%= image_tag ("public/john-mark-kuznietsov-219066.jpg"), width: "350", height: "250" %>
      <!-- <img src="http://via.placeholder.com/350x250" alt="placeholder"> -->
      
      <div class="z-btn"> <%= link_to 'Create New Fund', new_fund_path %>
      </div>
    </div>

  <%= render 'fund' %>


</div>
<br>

