<p id="notice"><%= notice %></p>

<h1>Funds</h1>

<% @funds.each do |fund| %>
<%= fund.category %>
<br>
  <% fund.organizations.each do |organization| %>
  <%= organization.name %>
  <%= link_to 'Show', organization %>
  <%= link_to 'Edit', edit_organization_path(fund) %>
  <%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <% end %>
  <br>
<% end %>

<br>

<%= link_to 'Create New Fund', new_fund_path %>
