<!DOCTYPE html>
<html>
  <head>
    <title>Changeformiami</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<!-- ***These are flash messages for the devise gem. -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<!-- ***These are flash messages for the devise gem.		 -->

		<%= yield %>
  </body>
</html>
