<!DOCTYPE html>
<html>
  <head>
    <title>Change for Miami</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>

  	<div class="home-btn">
  		<h1><%= link_to 'Change for Miami', root_url %></h1>
  	</div>
  	<div class="nav">
      <ul>
  	 	 <li><%= link_to 'About' %></li>
       <li><%= link_to 'Organizations'  %></li>
       <li><%= link_to 'Funds' %></li>
       <li><%= link_to 'Sign Up' %></li>
      </ul>
  	</div>

  </header>

  <div class="content">
		<!-- ***These are flash messages for the devise gem. -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<!-- ***These are flash messages for the devise gem.		 -->
    <%= yield %>

  </div>
    <footer>
    	<div class="footer-info">
    		<p>Copyright 2017 Change for Miami <br>Courtesy of students of Wyncode Academy</p>
    	</div>
    </footer>

  </body>
</html>
