<!DOCTYPE html>
<html>
  <head>
    <title>Mutual Miami🌱</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather+Sans|PT+Sans|PT+Sans+Narrow" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= controller.action_name %>">

  <header class="header">

  	<div class="home-btn">
  		<h1><%= link_to 'Mutual Miami🌱', root_url %></h1>
  	</div>
  	<div class="nav">
      <ul>
  	 	 <li><%= link_to 'About' %></li>
       <li><%= link_to 'Organizations', organizations_path  %></li>
       <% if donor_login_signed_in? %>
           <li><%= link_to 'Dashboard', donations_path %></li>
           <li><%= link_to 'Account Settings', edit_donor_login_registration_path %></li>
           <li><%= link_to 'Sign Out', destroy_donor_login_session_path, :method => :delete %></li>
       <% else %>
           <li><%= link_to 'Sign In', new_donor_login_session_path %></li>
           <li><%= link_to 'Sign Up', new_donor_login_registration_path %></li>
         </ul>
    <% end %>
  </div>

  </header>

  <div class="content">
    <p class="notice"><%= notice %></p>

    <%= yield %>

  </div>
    <footer>
    	<div class="footer-info">
    		<p>Mutual Miami🌱<br>Courtesy of students of Wyncode Academy</p>
    	</div>
    </footer>

  </body>
</html>
