<!DOCTYPE html>
<html>
  <head>
    <title>Change for Miami</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  	<div class="home-btn">
  		<h1><%= link_to 'Home', root_url %></h1>
  	</div>
  	<div class="login">
  		<button>Placeholder</button>
  	</div>
  </header>
		<!-- ***These are flash messages for the devise gem. -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<!-- ***These are flash messages for the devise gem.		 -->
    <%= yield %>

    <footer>
    	<div class="footer-info">
    		<p>Copyright 2017 Change for Miami courtesy of students of Wyncode Academy</p>
    	</div>
    </footer>

  </body>
</html>
